* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gameBoard {
    position: relative;
    width: 80%;
    height: 500px;
    background-color: #85CCFF;
    border: 3px solid #FFF;
    overflow: hidden;
}

.pipe {
    width: 80px;
    position: absolute;
    bottom: 0;
    right: 0;
    animation: pipe-animation 2s infinite linear;
}

.mario {
    width: 150px;
    position: absolute;
    bottom: 0;
}

.jump {
    animation: jump 500ms ease-out;
}

@keyframes pipe-animation {
    from {
        right: -80px;
    }
    to {
        right: 100%;
    }
}

@keyframes jump {
    0% {
        bottom: 0;
    }
    30% {
        bottom: 180px
    }
    80% {
        bottom: 180px;
    }
    100% {
        bottom: 0;
    }
    
}